<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmellyDiscordBot.Bot.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmellyDiscordBot.Bot.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmellyDiscordBot.Bot.Properties>
            <setting name="welcomeChannel" serializeAs="String">
                <value>welcome</value>
            </setting>
            <setting name="prefix" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="eventsChannel" serializeAs="String">
                <value>server-updates</value>
            </setting>
            <setting name="userEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="channelEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="roleEvents" serializeAs="String">
                <value>False</value>
            </setting>
        </SmellyDiscordBot.Bot.Properties>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SmellyDiscordBot.Bot.Properties>
      <setting name="botToken" serializeAs="String">
        <value>MzE0ODIwMjU5NDE4OTk2NzM2.DDW2Ew.u_uJQvSxXF-ki1QWe5O_YShMyEM</value>
      </setting>
      <setting name="riotAPIkey" serializeAs="String">
        <value>unknown</value>
      </setting>
    </SmellyDiscordBot.Bot.Properties>
  </applicationSettings>
</configuration>