<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmellyDiscordBot.Properties" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SmellyDiscordBot.Properties>
            <setting name="prefix" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="welcomeChannel" serializeAs="String">
                <value>welcome</value>
            </setting>
            <setting name="eventsChannel" serializeAs="String">
                <value>server-updates</value>
            </setting>
            <setting name="userEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="channelEvents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="roleEvents" serializeAs="String">
                <value>False</value>
            </setting>
        </SmellyDiscordBot.Properties>
    </userSettings>
</configuration>